<style>
* {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  background-image: url('https://imgur.com/UUrs2Ds.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.foundation {
  margin: 5%;
  display: inline-grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}

.header {
  color: white;
  font-family: 'Marck Script', cursive;
  background-color: rgb(14, 120, 200, 0.5);
  grid-column: 3 / 6;
  grid-row: 1 / 2;
}

.image {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.ability-scores {
  color: white;
  font-family: Allan, Helvetica, serif;
  background-color: rgb(14, 120, 200, 0.5);
  grid-column: 3 / 6;
  grid-row: 2 / 3;
}

.text {
  color: white;
  background-color: rgb(14, 120, 200, 0.5);
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.footer {
  color: white;
  font-family: 'Marck Script', cursive;
  background-color: rgb(14, 120, 200, 0.5);
  grid-column: 3 / 6;
  grid-row: 5 / 6;
}

.textsub {
  color: black;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  margin: auto;
  padding: 0.75em;
  border: 2px dotted black;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.oval1, .oval2, .oval3, .oval4, .oval5, .oval6 {
  height: 1em;
  width: 1em;
  margin: -2px auto 4px auto;
  padding: 0.1em;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.text1, .text2, .text3, .text4, .text5, .text6 {
  height: 1em;
  width: 2em;
  margin: -2px auto auto auto;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.avatar {
  border-radius: 50%;
  box-shadow: 2px 2px 5px #1878c8, -2px -2px 5px #1878c8;
  opacity: 0.85;
}
</style>
